@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* primary-900 */
  color: #1d2736;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

/* Global scroll style */
::-webkit-scrollbar {
  width: 5px !important;
  height: 7px;
  background-color: rgb(7, 2, 14);
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #959397;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section > h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
}

section > p {
  font: 1.25rem sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 400px;
  padding: 100px 20vw; /* maybe 100 */
}

/*#Skills {
}*/

.flip {
  transform: rotatez(180deg);
}

.spacer {
  aspect-ratio: 900/170;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./svgLayers/layer1Slice170.svg);
}

.layer2 {
  background-image: url(./svgLayers/layer2Slice170.svg);
}

.layer3 {
  background-image: url(./svgLayers/layer3Slice170.svg);
}

.layer4 {
  background-image: url(./svgLayers/layer4Slice170.svg);
}

.layer5 {
  background-image: url(./svgLayers/layer5Slice170.svg);
}

nav li {
  padding: 8px 16px;
}

nav li.active {
  color: #c408fd;
}

section > p {
  opacity: 0;
  transform: translate(80px, 80px);
  transition: all 500ms ease-in;
}
section > h1 {
  opacity: 0;
  transform: translate(60px, 60px);
  transition: all 700ms ease-in-out;
}

.show > h1,
.show > p {
  opacity: 1;
  transform: translate(0);
}

a.onSection {
  color: #fa8e8e;
  border-bottom: 3px solid #2c6fec;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 200ms ease-in;
}

.card {
  perspective: 2000;
  width: 194px;
  height: 265px;
  transition: all 500ms ease-in;
}
.card > h2 {
  font-size: 20px;
  font-weight: 600;
}

.cardContainer {
  opacity: 0;
  transition: all 500ms ease-in 500ms;
}
.show .cardContainer {
  opacity: 1;
}

.projectCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
}
.projectCard {
  max-width: 400px;
  min-width: 200px;
  transition: all 300ms ease-in;
}
.projectCard:hover {
  transform: scale(1.1);
}
.projectCard button {
  background: linear-gradient(
    45deg,
    #f651fb,
    #8e69f7,
    #43f8e9,
    #51f081,
    #f17160
  );
  opacity: 1;
  transition: all 300ms ease-in;
  background-size: 200% 200%;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 100% 25%;
}
.projectCard button:hover {
  transform: scale(1.1);
  background-position: 50% 50%;
}
.btnAnimate {
  animation: btnClickEffect 500ms ease-in 1;
}
@media (max-width: 720px) {
}

@keyframes btnClickEffect {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 50% 50%;
  }
}
