@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font */
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* primary-900 */
  color: #1d2736;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

/* Global scroll style */
::-webkit-scrollbar {
  width: 5px !important;
  height: 7px;
  background-color: rgb(7, 2, 14);
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #959397;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
}

section p {
  font: 1.25rem sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 400px;
  padding: 100px 20vw; /* maybe 100 */
}

.flip {
  transform: rotatez(180deg);
}

.spacer {
  aspect-ratio: 900/170;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url(./svgLayers/layer1Slice170.svg);
}

.layer2 {
  background-image: url(./svgLayers/layer2Slice170.svg);
}

.layer3 {
  background-image: url(./svgLayers/layer3Slice170.svg);
}

.layer4 {
  background-image: url(./svgLayers/layer4Slice170.svg);
}

.layer5 {
  background-image: url(./svgLayers/layer5Slice170.svg);
}

nav li {
  padding: 8px 16px;
}

nav li.active {
  color: #c408fd;
}

#Skills p {
  opacity: 0;
  transform: translate(10px, 10px);
  transition: all 500ms ease-in;
}
#Skills h1 {
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 500ms ease-in;
}

#Skills.show h1,
#Skills.show p {
  opacity: 1;
  transform: translate(0);
}
@media (max-width: 720px) {
}
